<div class = "container">
  <h2 class= "page-header">Add Contact</h2>
  <form (submit) = "addContact()">
    <div class = "form-group">
      <label>First Name</label><br>
      <input type = "text" [(ngModel)] = "first_name" name = "first_name" class = "form_control">
    </div>
    <div class = "form-group">
        <label>Last Name</label><br>
        <input type = "text" [(ngModel)] = "last_name" name = "last_name" class = "form_control">
      </div>
      <div class = "form-group">
          <label>Phone Number</label><br>
          <input type = "text" [(ngModel)] = "phone" name = "phone" class = "form_control">
        </div>
        <input type="submit" class="btn btn btn-success" value = "Add"> 
  </form>
</div>

<hr>

<div class = "container">
  <h2 class= "page-header">Contact List</h2>
  <div *ngFor = "let contact of contacts">
      <table class="table table-hover">
          <tbody>
            <tr class="table-active">
              <td>{{contact.first_name}}</td>
              <td>{{contact.last_name}}</td>
              <td>{{contact.phone}}</td>
              <td><input type = "button" (click) = "deleteContact(contact._id)" value = "Delete" class = "btn btn-danger"></td>
            </tr>
          </tbody>
      </table>
  </div>
</div>
